body{
    font-family: 'Montserrat', sans-serif;
}
.bg-dark{
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0));
}

body{
    background-image: url("../assets/Stealth.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}


abbr{
    text-decoration: none !important;
}

.center-custom{
    justify-content: center;
}

.form-control{
    background-color: transparent !important;
    border-bottom:1px solid whitesmoke;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0;
}
.form-control:focus{
    outline: none !important;
    border-bottom: 1px solid royalblue;
    box-shadow: none;
}
.fas{
    color:whitesmoke;
}

.home-page{
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index:-1; /* Remove this line if it's not going to be a background! */
    justify-content: center;
    align-items: center;
}

.home-page figure{
    color: red;
    text-align: center;
}

.home-page figure figcaption{
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}


#about{
    background: #2c2c2c;
    color: whitesmoke;
    padding: 8vw;
    text-align: center;
}

#about h1 abbr{
    color: red;
}

#about h1{
    font-weight: bolder;
}

#about p{
    padding: 1.5vw;
}